### Java ###
# Compiled class file
*.class

# Log file
*.log

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# # ignore common eclipse files
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
.project
local.properties
.settings/
.loadpath
.recommenders
*.launch
.factorypath
# custom
.workbench.xmi
workbench.xmi

# # ignore mac files
.DS_Store

# # ignore idea storage
.idea/
*.iml
*.iws
out/

# # ignore common maven files
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
# custom
/.springBeans

# # ignore Visual Studio Code files
.classpath
.vscode/

# # ignore local configuration and sensitive data
src/main/resources/application-local.yaml
src/test/resources/application-local.yaml

# # ignore sensitive testing data
src/test/resources/sampledata/private
